/*===============================================
    G4 Progress Bar
===============================================*/

.g4_progress_bar {
    display:none;
    height: 2px;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 100;
}